@page
@model Web.Pages.HulenModel

<div class="text-center">
    <h1>Hulen</h1>

    <div>
        <button id="btn-fight">Slås</button>
    </div>

    <div>
        <a href="/">Gå på værtshus</a>
    </div>
</div>