@page
@model IndexModel

<div class="text-center">
    <h1>@Model.GameState.Location.ToString()</h1>

    @await Html.PartialAsync("_GameStatus", Model.GameState)

    @await Html.PartialAsync($"_{Model.GameState.Location.ToString()}", Model.GameState)

    @await Html.PartialAsync("_GameLog", Model.GameState)
</div>