@model GameState

<div>
    @await Html.PartialAsync("_Highscore", Model.Highscore)

    <p>Du kom sgu ikke ind i Ølhalla denne gang...</p>

    <form method="post">
        <input type="hidden" name="action" value="@GameAction.Restart" />
        <button type="submit">Prøv igen</button>
    </form>
</div>