<div>
    <p>Du klarede den sgu ikke. Men bare rolig. Der er masser af øl på den anden side af Graven</p>

    <form method="post">
        <input type="hidden" name="action" value="@GameAction.Restart" />
        <button type="submit">Prøv igen</button>
    </form>
</div>