@model GameState

<div>
    <div class="action-group">
        <form method="post">
            <input type="hidden" name="action" value="@GameAction.Attack" />
            <button type="submit">Bank et monster</button>
        </form>
    </div>

    <div class="action-group">
        <form method="post">
            <input type="hidden" name="action" value="@GameAction.GoToInn" />
            <button type="submit">Gå på værtshus</button>
        </form>
    </div>
</div>